DATABASE_URL=postgres://root:root@localhost:5432/db_restaurante
PORT=3000

# Cloudflare R2
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=tu_access_key_id
R2_SECRET_ACCESS_KEY=tu_secret_access_key
R2_BUCKET=nombre-de-tu-bucket
R2_PUBLIC_URL=https://tu-dominio-publico.r2.dev

# Auth
JWT_SECRET=tu_jwt_secret_aqui
